<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @map.type %>
</p>

<p>
  <strong>Country:</strong>
  <%= @map.country %>
</p>

<p>
  <strong>Code:</strong>
  <%= @map.code %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @map.abbreviation %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @map.tier %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
