<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @statistic.id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @statistic.category %>
</p>

<p>
  <strong>Source:</strong>
  <%= @statistic.source %>
</p>

<p>
  <strong>Author:</strong>
  <%= @statistic.author %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @statistic.sentence %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
